html,body {
    margin:0;
    padding:0;
    height:100%;
    //overflow:hidden;
    background: url(art/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
   }

a:link{color:white}
a:hover{color:black}

.bodyDesign{
    background-color:#D5D5D5;
}
/*remove dotted border on firefox 46+ */
button::-moz-focus-inner {
  border: 0;
}
*:focus {outline:0; !important;} /*hide chrome outline stroke*/

.loginBox{
    display:none;
    position:fixed;

    left:50%;
    bottom:40%;
    margin-left:-125px;
    width:250px;
    height:220px;
    padding:4px;
    border:1px solid #86B2D8;
    border-radius:12px;
    background-color:#4E86B7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
    z-index:200;
}
.loginHeader{
    padding:2px;
    height:15%;
    background-color:#6B9BC5;
    border-bottom:2px solid #86B2D8;
    border-radius:12px;
    text-align:center;
}
.registerBox{
    display:none;
    position:fixed;

    left:50%;
    top:10%;
    margin-left:-125px;
    width:250px;
    height:auto;
    padding:4px;
    border:1px solid #86B2D8;
    border-radius:12px;
    background-color:#4E86B7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
    z-index:100;
}
.registerHeader{
    padding:2px;
    height:15%;
    background-color:#6B9BC5;
    border-bottom:2px solid #86B2D8;
    border-radius:12px;
    text-align:center;
}
.infoFormBox{
    display:none;
    position:fixed;

    left:50%;
    top:10%;
    margin-left:-250px;
    width:500px;
    height:auto;
    padding:4px;
    border:1px solid #86B2D8;
    border-radius:12px;
    background-color:#4E86B7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
    z-index:100;
}
.infoFormHeader{
    padding:2px;
    height:15%;
    background-color:#B1D607;
    border-bottom:2px solid #86B2D8;
    border-radius:12px;
    text-align:center;
}
.x{
	position:absolute;
	right:12px;
	top:4px;
	font-family: Arial Black;
	color:white;
	cursor:pointer;
    font-size:large;
}
.x:hover{color:#E8E8E8;}


.userBox{
    background-color:#5A95C9;
    color:#dddddd;
    border:1px solid #70A9DA;
    padding:2px;
    padding-top:3px;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:2px;
    width:auto;
    height:30px;
    text-align:center;
}

.userBoxfirst{
    padding-top:3px;
    padding-left:2px;
    background-color:#48639c;
    border:1px solid #70A9DA;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:2px;
    width:auto;
    height:30px;
    text-align:center;
 }

.userInfoMainBox{
    border:1px solid #97C1E6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:2px;
    padding-left:5px;
    cursor:default;

}

.getStartedBox{
    
    margin-top:25px;
    margin-bottom:40px;
    margin-left:10px;
    padding:2px;
    border:1px solid #86B2D8;
    border-radius:2px;
    //background-color:#4E86B7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
}
.btnInfo{
    padding:7px;
    padding-left:4px;
    height:40px;
    margin:2px;
    margin-top:8px;
    background-color:#B1D607;
    border:1px solid #C9EC25;
    border-radius:5px;
    color:#FFFFFF;
    text-align:center;
    font-size:18px;
    cursor:pointer;
}
.btnInfo_report{
    padding:7px;
    padding-left:4px;
    height:40px;
    margin:2px;
    margin-top:8px;
    background-color:#ba1200;
    border:1px solid #C9EC25;
    border-radius:5px;
    color:#FFFFFF;
    text-align:center;
    font-size:18px;
    cursor:pointer;
}
.btnInfo_report:hover{background-color:#B84134;text-decoration:underline;}





.btnInfo:hover {background-color:#C9EC25;}

.bodyRow{
    margin-top:5px;
}

.bottomRow{
    position:fixed;
    bottom:0px;
    width:100%;
    border-radius:4px;
    background-color:#4E86B7;
    text-align:center;
    color:white;
}

.mainWindow{
    margin-top:25px;
    margin-bottom:40px;
    padding:4px;
    border-left:2px solid #C9EC25;
    border-radius:5px;
}
.textContainer{
    padding:2px;
    background-color:#FEFEFE;
    border:1px solid #E9EBF3;
    border-radius:5px;
    font-size:medium;
    color:black;
}
.textContainer:hover {border-color:#D1D6ED}

.resetApp{
    cursor:pointer;
}

.chapter2{display:none;}
.chapter3{display:none;}
.chapter4{display:none;}
.chapter5{display:none;}
.chapter6{display:none;}

.CloseBtn{
    padding:0px;
    height:25px;
    width:70px;
    margin:3px;
    margin-top:2px;
    margin-left:20px;
    background-color:#B1D607;
    border:1px solid #C9EC25;
    border-radius:5px;
    color:#FFFFFF;
    text-align:center;
    font-size:medium;
    cursor:pointer;
}

.CloseBtn:hover{background-color:#C9ED24}



@media (max-width: 767px) {
    .div {
        text-align: center;
    }
    .bottomRow{
        position:unset;
    }
    .textContainer{
        font-size:small;
    }
    .btnInfo{
        font-size:small;
        padding-top:11px;
    }
    .resetApp{
        margin-left:40%;
    }
    .submitMy{
        margin-left:40%;
    }
    .bottomRow{
        font-size:small;
        }
    .userInfoMainBox{
        font-size:small;
    }
    .infoFormBox{
        margin-left:0;
        left:0;
        width:100%
    }
}