<div class="container-fluid" ng-controller="operatorController">

    <!--START Operator Page-->

    <div class="row bodyRow operatorWindow">
        <form id="writeMessageBox">

            <!-- Start Operator buttons -->
            <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
                <div class="getStartedBox" style="position: relative; margin-top: 8px; margin-bottom: 8px;">

                    <div ng-click="operatorClick(1)" class="btnInfo">
                        <div style="display: inline; position: absolute; left: 8px;"><i class="glyphicon glyphicon-folder-open"></i></div>
                        Existing Reports Folder
                    </div>

                    <div ng-click="operatorClick(2)" class="btnInfo">
                        <div style="display: inline; position: absolute; left: 8px;"><i class="glyphicon glyphicon-pencil"></i></div>
                        Send Message To Client
                    </div>

                    <div ng-click="operatorClick(3)" class="btnInfo">
                        <div style="display: inline; position: absolute; left: 8px;"><i class="glyphicon glyphicon-folder-open"></i></div>
                        View Users Details
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-xs-12">
                <div class="mainWindow">

                    <!--Start Operator home window-->
                    <div ng-hide="oper0" class="textContainer">
                        operator Home.
                    </div>

                    <!--Start Existing reports in system -->

                    <div ng-hide="oper1" class="textContainer" style="overflow:auto;">

                        <div runat="server" id="reportsInSystem" class="personalDetailsClass">
                            <i Style="font-size:23px;" class="glyphicon glyphicon-list-alt"></i>
                            <span style="margin-left:10px;">Existing reports in system</span>
                        </div><br />

                        <asp:ScriptManager runat="server" ID="sm1">
                        </asp:ScriptManager>
                        <asp:updatepanel runat="server">
                            <ContentTemplate>
                                <div runat="server" id="InfoLable" class="infoTableClass opRepLabelJs">
                                    <div class="reportLabelHead">
                                        <b>Report Information</b>
                                        <asp:LinkButton runat="server" CssClass="x" Text="x" OnClick="closeFrame" />
                                    </div>
                                    <div style="margin-top:5px;">
                                        <asp:Label runat="server" ID="moreInfoLabel"></asp:Label>
                                    </div>
                                </div>

                                <asp:Repeater ID="Repeater1" runat="server" OnItemCommand="rowClick">
                                    <HeaderTemplate>
                                        <table class="table table - striped" style="font-size:small;">
                                            <tr>
                                                <th>Report ID</th>
                                                <th>Client ID</th>
                                                <th>Case ID</th>
                                                <th>Date</th>
                                                <th>Hour</th>
                                                <th>Location</th>
                                                <th>Towing Dest</th>
                                            </tr>
                                    </HeaderTemplate>
                                    <ItemTemplate>
                                        <tr>
                                            <td>
                                                <%#Eval("reportID")%>
                                            </td>
                                            <td>
                                                <%#Eval("clientAbstractUserId")%>
                                            </td>
                                            <td>
                                                <%#Eval("caseCaseId")%>
                                            </td>
                                            <td>
                                                <%#Eval("date")%>
                                            </td>
                                            <td>
                                                <%#Eval("hour")%>
                                            </td>
                                            <td>
                                                <%#Eval("location")%>
                                            </td>
                                            <td>
                                                <%#Eval("towing_destination")%>
                                            </td>
                                            <td>
                                                <asp:LinkButton data-toggle="tooltip" title="More details" data-placement="right" ID="Button1" CommandName="click" Text="More" runat="server" CssClass="button101" CommandArgument='<%# DataBinder.Eval(Container.DataItem, "reportID") %>' />
                                            </td>
                                        </tr>

                                    </ItemTemplate>
                                    <FooterTemplate>
                                        </table>
                                    </FooterTemplate>
                                </asp:Repeater>
                            </ContentTemplate>
                        </asp:updatepanel>
                    </div>


                    <!--Start - send message to client -->
                    <div ng-hide="oper2" class="textContainer">
                        <asp:updatepanel runat="server">
                            <ContentTemplate>

                                <div runat="server" id="Div1" class="personalDetailsClass">
                                    <i Style="font-size:23px;" class="glyphicon glyphicon-user"></i>
                                    <span style="margin-left:10px;">Send message to client</span>
                                </div><br />
                                <div runat="server" id="Div2" class="personalDetailsClass">
                                    <i Style="font-size:23px;" class="glyphicon glyphicon-user"></i>
                                    <span style="margin-left:10px;">Choose client:</span>
                                    <asp:DropDownList ID="dropList" runat="server" ToolTip="Choose the wanted user ID" Style="margin-left:10px;width:200px;color:black;height:40px;border-radius:5px;"></asp:DropDownList>
                                </div><br />

                                <div style="width: 50%; margin: 3px auto; text-align: center; padding: 8px 0px">
                                    <asp:Panel runat="server" CssClass="alert alert-danger" ID="msgEmpty" Visible="false">
                                        Text field is empty!
                                    </asp:Panel>
                                </div>

                                <div style="width: 50%; margin: 3px auto; text-align: center; padding: 8px 0px">
                                    <asp:Panel runat="server" CssClass="alert alert-success" ID="msgSuccess" Visible="false">
                                        Message sent successfully!
                                    </asp:Panel>
                                </div>

                                <asp:TextBox id="Textbox1" TextMode="multiline" Columns="50" Rows="5" runat="server" Style="width:100%;margin:auto" />

                                <asp:Button runat="server" ID="sendMsgBtn" onclick="sendMessage" CssClass="btn btn-default settingsBtn" Text="Send" Style="margin-top:5px; margin-left:2%;" />

                            </ContentTemplate>
                        </asp:updatepanel>
                    </div>

                    <!--Start Users List -->
                    <div ng-hide="oper3" class="textContainer" style="overflow:auto;">

                        <div runat="server" id="userDetailsPanel" class="personalDetailsClass">
                            <i Style="font-size:23px;" class="glyphicon glyphicon-user"></i>
                            <span style="margin-left:10px;">Users List</span>
                        </div><br />


                        <asp:updatepanel runat="server">
                            <ContentTemplate>
                                <div runat="server" id="userListLable" class="infoTableClass opRepLabelJs">
                                    <div class="reportLabelHead">
                                        <b>Client Information</b>
                                        <asp:LinkButton runat="server" CssClass="x" Text="x" OnClick="closeClientList" />
                                    </div>
                                    <div style="margin-top:5px;">
                                        <asp:Label runat="server" ID="clientListLabel"></asp:Label>
                                    </div>
                                </div>

                                <asp:Repeater ID="Repeater2" runat="server" OnItemCommand="clientListClick">
                                    <HeaderTemplate>
                                        <table class="table table - striped" style="font-size:small;">
                                            <tr>
                                                <th>Rank</th>
                                                <th>User ID</th>
                                                <th>First Name</th>
                                                <th>Family Name</th>

                                            </tr>
                                    </HeaderTemplate>
                                    <ItemTemplate>
                                        <tr>
                                            <td>
                                                <%#Eval("role")%>
                                            </td>
                                            <td>
                                                <%#Eval("id")%>
                                            </td>
                                            <td>
                                                <%#Eval("name")%>
                                            </td>
                                            <td>
                                                <%#Eval("familyName")%>
                                            </td>
                                            <td>
                                                <asp:LinkButton data-toggle="tooltip" title="More details" data-placement="right" ID="Button2" CommandName="click" Text="Info" runat="server" CssClass="button101" CommandArgument='<%# DataBinder.Eval(Container.DataItem, "id") %>' />
                                            </td>
                                        </tr>
                                    </ItemTemplate>
                                    <FooterTemplate>
                                        </table>
                                    </FooterTemplate>
                                </asp:Repeater>
                            </ContentTemplate>
                        </asp:updatepanel>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
