<!--Start staff phone book window-->
<div id="mainPhoneBookContainer">
    <div id="PhoneBookContainer" class="infoTableClass opRepLabelJs" style="display:@ViewBag.showPhoneWindow;width:400px;margin-left:-200px;">
        <div class="reportLabelHead">
            <b><i Style="color:#E045DE;font-size:15px;margin-right:5px;" class="glyphicon glyphicon-th-list"></i>Staff Phone Book</b>
            <div onclick="closeViewPhoneBook()" class="x">x</div>
        </div>

        <br />

        <table id="myTablePhoneBook" class="table table - striped" style="font-size:small;">
            <tr>
                <th>Name</th>
                <th>Phone</th>
            </tr>

            @{

                if (ViewBag.phoneBookList != null)
                {
                    foreach (var item in ViewBag.phoneBookList)
                    {

                        <tr id="updatePannelAngular">
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr id="updatePannelAngular">
                        <td>No data</td>
                        <td>No data</td>
                    </tr>
                }

            }
        </table>


        
    </div>
</div>
<!--END staff Phone Book window-->
